body {
  font-family: Arial, sans-serif;
}

ul{
  padding: 0;
}

li{
  list-style: none;
  padding: 0.5rem;
  background: #f4f4f4;
  margin-bottom: 0.5rem;
}

button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}